.LocalCouncil {
    color: blue;
}

@media (min-width: 600px) {
  .LocalCouncil {
    display: flex;
    align-items: stretch;
  }
}

.LocalCouncil__positions,
.LocalCouncil__candidates {
    flex: 0 1 1080px;
}