.RichText {
  margin: 0 0 20px 0;
  line-height: 1.3;
  letter-spacing: 0.5px;
  font-size: 16px;
  hyphens: auto;
}

@media (min-width: 768px) {
  .RichText {
    font-size: 18px;
  }
}

.RichText p {
  margin: 0 0 20px 0;
}
